#btnPlay {          
    -fx-background-image: url("../img/ButtonPlay.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
}
#toolBarTop {
        -fx-margin: 30px;
}
#bottomBar {
    -fx-margin: 5000;
    -fx-padding-right: 1000;
}